.year-header {
  &:hover {
    cursor: pointer;
  }
}

.day-header {
  border-bottom-width: 2px;
}

.name-header {
  border-right-width: 2px;
}

.start-cell {
  background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      rgb(231, 255, 228) 10px,
      rgb(231, 255, 228) 20px
  );
}

.end-cell {
  background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      rgb(219, 244, 255) 10px,
      rgb(219, 244, 255) 20px
  );
  font-weight: bold;
}
