<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" *ngFor="let year of years">
  <div class="col" *ngFor="let monthStructure of year.structure; index as monthIndex">
    <div class="card">
      <div class="card-header">{{ monthStructure.name }}</div>
      <div class="card-body">
        <table class="table table-bordered" *ngFor="let week of year.overview[monthIndex]">
          <thead>
            <tr>
              <th scope="col"></th>
              <th *ngFor="let dayName of dayNames" class="day-header" scope="col">{{ dayName }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let playerName of playerNames; index as playerIndex">
              <th class="name-header" scope="row">{{ playerName }}</th>
              <td [ngClass]="{ 'bg-light': day === null }" *ngFor="let day of week">{{ day === null ? '' : day[playerIndex] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
